*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1BA1AD;
    overflow: hidden;
}

#top{
    position: relative;
    bottom: 385px;
    left: 150px;
}

#bottom{
    position: relative;
    top: 465px;
    right: 140px;
    
}
#d1{
    background-color: hsl(225, 10%, 92%);
    border-radius: 17px;
    height: 385px;
    width: 350px;
    z-index: 10;
}

#prof{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 50px;
}

#cbg img{
    border-radius: 17px 17px 0px 0px;
}

#prof img{
    border-radius: 50%;
    border: 5px solid hsl(225, 10%, 92%);
}

.info1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 25px;
}

.info1 b,p{
    color: hsl(227, 10%, 46%);
}

.info1 b{
    margin-left: 8px;
}

.info1 p{
    margin-top: 5px;
}

#stats{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
}

#border{
    width: 350px;
    border-top: 1px solid hsl(227, 10%, 46%);
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
}
#stats h3{
    text-align: center;
}

#stats p{
    font-size: 9px;
    text-align: center;
}


h2,h3{
    color: hsl(229, 23%, 23%);
}




