@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #674BB1;
    background-image: url(./images/bg-desktop.svg);
    color: white;
}

#par{
    margin: 60px;
}

header{
    width: 100%;
    margin-bottom: 60px;
}

header img{
    width: 210px;
}

#par main{
    display: flex;
    gap: 30px;
}

#main #img img{
    width: 500px;
}
/* Open Sans - 400 */
/* Poppins -  400, 600 */
#text{
    padding: 40px;
}

#text h2{
    width: 500px;
    font-size: 2.8rem;
    font-family: 'Open Sans';
    font-weight: 550;
    line-height: 1.5;
    margin-bottom: 20px;
}

#text p{
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    width: 560px;
    line-height: 1.6;
    margin-bottom: 20px;
}

#text button{
    width: 200px;
    height: 55px;
    border-radius: 30px;
    border: none;
    font-family: poppins;
    color: #674BB1;
    font-size: 1.1rem;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}



footer{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

footer div{
    width: 20px;
    height: 20px;
    border: 15px solid white;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
