@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: hsl(275, 100%, 97%);
}

#bg{
    background-image: url(./images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    width: 100vw;
    position: fixed;
}

#par{
    background-color: white;
    width: 580px;
    padding: 20px;
    position: relative;
    top: 20%;
    z-index: 1;
    border-radius: 12px;
    font-family: Work Sans;
}

#logo{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

#logo h2{
    font-size: 3rem;
    font-weight: 700;
}

#child{
    padding-left: 10px;
    padding-right: 10px;
}

.cd div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 650;
    margin-bottom: 10px;
}
.cd{
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid hsl(275, 100%, 97%);
}

.bold_text{
    width: 500px;
}


#d4{
    border: 0;
    padding: 0;
}

button{
    background-color: white;
    border: none;
    position: relative;
    z-index: 1;
}

button img{
    position: relative;
    z-index: 0;
}

