@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    font-family: Outfit;
    overflow: hidden;
}


/* par */

#par{
    height: 580px;
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: hsl(216, 50%, 16%);
    padding: 25px;
    border-radius: 15px;
}

p{
    font-size: 18px;
}
/* img */
#img img{
    height: 300px;
    width: 300px;
    border-radius: 8px;
}
#img{
    height: 300px;
    width: 300px;
}

#d2 img{
    width: 30px;
    height: 30px;
}
#d2 div{
    border: 16px solid white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
/* text */

#text h2{
    color: white;
    font-weight: 600;
    font-size: 1.35rem;
    margin-top: 25px;
    margin-bottom: 15px;
}

#p{
    color: hsla(215, 52%, 70%, 0.7);
    margin-bottom: 25px;
}

#d1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#d1 div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#d1 #left p{
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    font-size: 1rem;
}
#d1 #right p{
    color: hsla(215, 52%, 70%, 0.7);
    font-size: 1rem;
}

#d2{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    border-top: 1px solid hsl(215, 32%, 27%);
}

#d2 p{
    color: hsla(215, 52%, 70%, 0.7);
    font-weight: 400;
    font-size: 1.05rem;
}
#d2 p b{
    color: white;
    font-weight: 400;
}