*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(221, 100%, 96%);
}


#parent{
    background-color: white;
    border-radius: 20px;
    width: 600px;
    height: 410px;
    display: flex;
}

#d1{
    flex: 1;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: white;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#d1 h3{
    position: relative;
    bottom: 25px;
}
#score{
    width: 150px;
    height: 150px;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#score #sp1{
    font-size: 45px;
    font-weight: bolder;
}

#score #sp2{
    font-size: 13px;
}

#d1 h3,p{
    color: hsl(222, 100%, 88%);
    text-align: center;
}

#d2{
    flex: 1;
    padding: 30px;
}

#d2 h3{
    margin-bottom: 20px;
}

#Reaction{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-radius: 10px;
    background-color: hsl(0, 100%, 98%);
}

#sr{
    color: hsl(0, 100%, 67%);
}

#Memory{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-radius: 10px;
    background-color: hsl(39, 100%, 98%);
}

#sm{
    color: hsl(39, 100%, 56%);
}

#Verbal{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-radius: 10px;
    background-color: hsl(166, 100%, 98%);
}

#sve{
    color: hsl(166, 100%, 37%);
}

#Visual{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-radius: 10px;
    background-color: hsl(234, 85%, 98%);
}

#svi{
    color: hsl(234, 85%, 45%);
}
#sr,#sm,#sve,#svi{
    position: relative;
    right: 15%;

}

button{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: hsl(224, 30%, 27%);
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 12px;
}

button:hover{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(234, 85%, 45%));
}

.rmvv{
    margin: 12px;
}

.ravi{
    color: hsl(224, 9%, 58%);
}


#d1 p{
    width: 200px;
}