@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
    font-family: Manrope;
}

#par{
    display: flex;
    width: 880px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
}
p{
    font-size: 13px;
}

/* imgs */
#img{
    width: 350px;
    height: 350px;
    background-image: url(./images/drawers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 10px 0px 0px 10px;
}

#d2 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* text */

#text{
    width: 500px;
    height: 300px;
    padding: 50px;
}

#text h2{
    width: 420px;
    font-weight: 700;
    margin-bottom: 15px;
}

#p{
    font-weight: 500;
    line-height: 1.6;
    font-size: 0.98rem;
    width: 420px;
    margin-bottom: 25px;
    color: hsl(214, 17%, 51%);
}

#d1{
    display: flex;
    width: 108%;
    justify-content: space-between;
}

#share img{
    width: 20px;
    height: 20px;
}

#share{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
}

#d2{
    display: flex;
    gap: 15px;
    align-items: center;
}

#d2 div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#d2 div p:nth-child(1){
    font-weight: 700;
    font-size: 0.9rem;
}

#d2 div p:nth-child(2){
    font-weight: 500;
    color: hsl(212, 23%, 69%);
    font-size: 0.9rem;
}