*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);}
#d1{
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    width: 495px;
    border-radius: 8px;
    height: 360px;
}

#d2{
    width: 250px;
}

#d2 img{
    width: 250px;
    height: 360px;
    display: flex;
    border-radius: 8px 0px 0px 8px;
}
#d3{
    width: 245px;
}

#price{
    display: flex;
    margin-left: 20px;
}

#price h1{
    color: hsl(158, 36%, 37%);
}
p{
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}
h5{
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    margin-left: 15px;
    margin-top: 9px;
}

#p1{
    display: flex;
    margin-top: 30px;
    margin-left: 20px ;
}

button{
    display: flex;
    margin-left: 20px;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    border:none;
    background-color: hsl(158, 36%, 37%);
    color: white;
    justify-content: center;
    align-items: center;
}

button img{
    margin: 7px;
}


#h1{
    display: flex;
    margin-left: 20px;
}

#p2{
    display: flex;
    margin-left: 20px;
    font-size: 12px;
}