@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(26, 66%, 93%);
    font-family: DM Sans;
}

#par{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#top{
    display: flex;
    background-color: hsl(10, 79%, 65%);
    justify-content: space-between;
    width: 470px;
    height: 100px;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
}

#top img{
    height: 36px;
} 

#top div p:nth-child(1){
    color: white;
    font-size: 0.85rem;
    font-weight: 400;
}

#top div p:nth-child(2){
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

#top div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


#bottom{
    width: 470px;
    background-color: white;
    padding: 30px;
    border-radius: 16px;
}

#bottom h2{
    font-weight: 650;
    font-size: 1.8rem;
    margin-bottom: 25px;
}

#stat{
    display: flex;
    gap: 16px;
    height: 200px;
    align-items: end;
    color: hsl(28, 10%, 53%);
    background-color: #FFFCF7;
    padding-bottom: 25px;
    border-bottom: 2px solid hsla(28, 10%, 53%, 0.25);
    margin-bottom: 25px;
}

#mon div{
    height: 45px;
    width: 45px;
    border-radius: 5px;
    background-color: hsl(10, 79%, 65%);
}

#mon{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#tue{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tue div{
    height: 90px;
    width: 45px;
    border-radius: 5px;
    background-color: hsl(10, 79%, 65%);
}

#wed{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#wed div{
    height: 135px;
    width: 45px;
    border-radius: 5px;
    background-color: hsl(186, 34%, 65%);
}

#thu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#thu div{
    height: 80px;
    width: 45px;
    border-radius: 5px;
    background-color: hsl(10, 79%, 65%);
}

#fri{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#fri div{
    height: 60px;
    width: 45px;
    border-radius: 5px;
    background-color: hsl(10, 79%, 65%);
}

#sat{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sat div{
    height: 110px;
    width: 45px;
    border-radius: 5px;
    background-color: hsl(10, 79%, 65%);
}

#sun{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sun div{
    height: 65px;
    width: 45px;
    border-radius: 5px;
    background-color: hsl(10, 79%, 65%);
}

#text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lf p:nth-child(1){
    color: hsl(28, 10%, 53%);
}


#lf p:nth-child(2){
    font-size: 2.5rem;
    font-weight: 650;
    letter-spacing: 1.8px;
}

#rf{
    display: flex;
    flex-direction: column;
    align-items: end;
}

#rf p:nth-child(1){
    font-weight: 700;
}
#rf p:nth-child(2){
    color: hsl(28, 10%, 53%);
}