@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100vw 50vh;
    background-color: #E0E8FF;
}

#pp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Red Hat Display';
}

#par{
    background-color: #FFFFFF;
    height: 700px;
    border-radius: 20px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2{
    font-weight: 900;
    font-size: 1.8rem;
    margin-top: 40px;
    margin-bottom: 20px;
}

#p{
    font-size: 16.5px;
    width: 300px;
    font-weight: 550;
    margin-left: 25px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: hsl(224, 23%, 55%);
}



#img img{
    border-radius: 20px 20px 0px 0px;
}

#d1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    height: 100px;
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

#d1_2{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#d1_2 div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#d1_2 p:nth-child(1){
    font-weight: 900;
    font-size: 1rem;
}

#a{
    color: hsl(245, 75%, 52%);
    font-size: 0.95rem;
    font-weight: 750;
}

#a:hover{
    text-decoration: none;
    color: hsla(245, 75%, 52%, 0.8);
}


#buton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;    
}
#buton button{
    width: 350px;
    height: 50px;
    background-color: #FFFFFF;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

#buton button:nth-child(1){
    background-color: hsl(245, 75%, 52%);
    color: white;
    box-shadow: -1px 20px 10px rgba(56, 41, 224, 0.115);
}

#buton button:nth-child(1):hover{
    background-color: hsla(245, 75%, 52%, 0.6);
}

#buton button:nth-child(2){
    color: rgba(128, 128, 128, 0.9);
    font-weight: 800
}

#buton button:nth-child(2):hover{
    color:rgba(0, 0, 0, 0.8);
}